SECRET_TOKEN = "Get this from Discord Developer Portal"
NODE_ENV="development"
JANICE_KEY="Request one from Janice Discord"
OUTBOUND_IP = ""
ERROR_CHANNEL_ID = "Get this from Discord Developer Portal"