SECRET_TOKEN = "Get this from Eve ESI"
NODE_ENV="development"
JANICE_KEY="Request one from Janice Discord"
OUTBOUND_IP = ""
WANDERER_SECRET="Create one for this Bot, at least 16 characters long, and keep it secret."