name: CI - Master
on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: SSH and deploy node app
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            cd /home/pmtwo/KillFeed
            
            sudo -u pmtwo git fetch origin main
            sudo -u pmtwo git reset --hard origin/main
            sudo -u pmtwo npm install
            sudo -u pmtwo npm run build
            sudo -u pmtwo pm2 restart KillFeed
